*.suo
*.psess
*.vsp
/bin/Debug/
/bin/Release/de/
/bin/Release/Licenses/GData-LICENSE-2.0.txt
/bin/Release/Licenses/PDFSharp-License.txt
/bin/Release/Licenses/ClearScript.main.license
/bin/Release/Licenses/v8.main.license
/bin/Release/Licenses/v8.strongtalk.license
/bin/Release/Licenses/v8.v8.license
/bin/Release/Licenses/v8.valgrind.license
/bin/Release/*.exe
/bin/Release/*.ini
/bin/Release/*.pdf
/bin/Release/*.xml
/bin/Release/*.pdb
/bin/Release/*.dll
/bin/Release/*.zip
/bin/Release/*.config
/obj/
/packages/

\.vs/
bin/**/arm64
bin/**/x64
bin/**/x86
bin/**/libSkiaSharp.dylib
